html{
    width: 100%;
    height: 100%;
}

body{

}

.header_panel{

}

.panel{

}

.header{

}

.logo{

}

.control_panel{
    text-align: center;

}

.speed_panel{

}

.upper_motor{
    float: left;
    widht: 50%;
    background-color: aliceblue;

}

.subpanel{

}

.slider_container{
    width:100%;
}

.subheader{

}

.motor_name{

}

.set_button{

}

button{

}

.step_slider{

}

.lower_motor{
    float: left;
    widht: 50%;
    background-color: beige;
}

.angle_panel{

}

.cont_slider{

}